.container {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1em;
}

.about_container,
.footer_container,
.login_container {
    justify-content: center;
}

.header_container {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 20px;
}

.menu {
    display: flex;
    margin-left: auto;
    padding-left: 40px;
}

.menu_item {
    padding-left: 20px;
}

.shop_section {
    display: flex;
    flex-wrap: wrap;
}

.shop_item {
    flex-grow: 0.35;
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    box-shadow: -2px 1px 6px 1px;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.title {
    padding: 10px;
    margin: auto;
}

.button_section {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.login_input_container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}